# Dataset information for WOD Project

The column names refer to workouts. For example 17.3, would refer to the 3rd workout in the 2017 competition, defined [here](https://games.crossfit.com/workouts/open/2017/3?division=1). For each workout, the owner has listed three things:

- score: This is either reps or time. You'd see the column formatted accordinly
- percentile: this is just their ranking in the world for that workout. Someone with the most reps would be 100th percentile. We can calculate this pretty easily from the score
- predicted_reps: don't know where this came from, since it doesn't align with any standard practice. My guess is it may have been some prediction the owner ran on this.

In [37]:
#Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [38]:
DATA_FILE_PATH = r'C:\Users\Neel Patel\Documents\Github Repositories\WOD Project\WOD-Project-NP\Sample_Data\Profile_Men.csv'
male_data = pd.read_csv(DATA_FILE_PATH, encoding='latin1', index_col = None)
comp_male_2017_data = pd.read_csv(r'C:\Users\Neel Patel\Documents\Github Repositories\WOD Project\WOD-Project-NP\Sample_Data\Men_Rx_2017.csv')

C:\Users\Neel Patel\AppData\Local\Temp\ipykernel_41316\2659286706.py:3: DtypeWarning: Columns (13,20) have mixed types. Specify dtype option on import or set low_memory=False.
  comp_male_2017_data = pd.read_csv(r'C:\Users\Neel Patel\Documents\Github Repositories\WOD Project\WOD-Project-NP\Sample_Data\Men_Rx_2017.csv')

In [32]:
male_data

,Index,Unnamed: 1,Name,Affiliate,Region,Age,Height,Weight,Back Squat,Clean & Jerk,Snatch,Deadlift,Fight Gone Bad,Max Pull-ups,Fran,Grace,Helen,Filthy 50,Sprint 400m,Run 5K
0,1,86,Justin Bergh,Container CrossFit,Northern California,34,77,231,335,265,210,415,393,32.0,3:46,2:54,8:16,21:27,1:04,22:05
1,2,88,Cary Hair,CrossFit Santa Cruz,Northern California,32,72,191,455,315,265,518,407,54.0,2:20,1:49,7:28,18:23,0:54,21:34
2,3,92,Tim Chan,CrossFit DCS,Southern California,47,66,150,0,0,0,0,0,0.0,4:22,0,0,0,0,0
3,4,93,Leif Edmundson,CrossFit Santa Cruz,Northern California,34,72,210,305,235,185,355,403,45.0,3:40,2:34,8:13,25:00:00,1:02,20:39
4,5,1616,Russ Greene,CrossFit DC,Mid Atlantic,30,70,180,0,0,0,485,0,52.0,3:05,0,0,0,0,19:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186168,186169,851333,Neil MacDonald,CrossFit Onside,Canada East,29,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0
186169,186170,851464,Abraham Ruiz,CrossFit Maui,Northern California,28,72,265,0,0,0,425,0,0.0,0,0,0,0,0,0
186170,186171,851484,Steven Kindley,NaN,Mid Atlantic,27,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0
186171,186172,851555,Frankie Martinez,MW CrossFit,North East,41,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0
186172,186173,851805,Josh Taekman,NaN,North East,47,6,195,0,0,0,0,0,0.0,0,0,0,0,0,0

In [39]:
comp_male_2017_data.tail(10)

,Unnamed: 0,Userid,Name,Height (m),Weight (kg),Age,Regionid,Regionname,Affiliateid,Overallrank,...,17.3_score,17.3_percentile,17.3_predicted_reps,17.4_rank,17.4_score,17.4_percentile,17.5_rank,17.5_score,17.5_percentile,17.5_predicted_time
171262,171262,1024435,Dan Campbell,1.73,NaN,50,6,Central East,11518,193057,...,NaN,NaN,NaN,131125,11.0,0.3921,148472,NaN,NaN,NaN
171263,171263,781781,Michael Naylor,1.78,NaN,40,17,South West,14083,193115,...,NaN,NaN,NaN,129496,57.0,1.6457,148472,NaN,NaN,NaN
171264,171264,938763,Jeff Hepler,NaN,NaN,46,14,South Central,2736,193187,...,NaN,NaN,NaN,130344,42.0,0.9832,148200,NaN,NaN,NaN
171265,171265,759218,Dustin Bishop,NaN,NaN,29,9,Mid Atlantic,10249,193246,...,NaN,NaN,NaN,131116,12.0,0.3981,147976,NaN,NaN,NaN
171266,171266,956669,Krishna Marepalli,NaN,NaN,27,6,Central East,8275,193262,...,NaN,NaN,NaN,129468,58.0,1.6784,148472,NaN,NaN,NaN
171267,171267,973972,Chad Harlan,1.80,NaN,42,6,Central East,5978,193409,...,NaN,NaN,NaN,130697,34.0,0.7165,148190,NaN,NaN,NaN
171268,171268,697618,Jack Johnson,1.93,NaN,41,10,North Central,6433,193417,...,NaN,NaN,NaN,130450,40.0,0.9049,148472,NaN,NaN,NaN
171269,171269,824792,Steve DeVane,NaN,NaN,47,15,South East,16644,193457,...,NaN,NaN,NaN,131001,20.0,0.4870,148322,NaN,NaN,NaN
171270,171270,989621,Matthew House,NaN,NaN,36,7,Europe,3985,193486,...,NaN,NaN,NaN,131125,11.0,0.3921,147566,NaN,NaN,NaN
171271,171271,923514,Joe Montanez,0.13,NaN,40,9,Mid Atlantic,1135,193564,...,NaN,NaN,NaN,130511,39.0,0.8563,148472,NaN,NaN,NaN

In [33]:
male_data.isnull().sum() #Check how many nulls there are
male_data.replace(0,np.nan, inplace = True) #Replace the 0s with NaN 

male_data

,Index,Unnamed: 1,Name,Affiliate,Region,Age,Height,Weight,Back Squat,Clean & Jerk,Snatch,Deadlift,Fight Gone Bad,Max Pull-ups,Fran,Grace,Helen,Filthy 50,Sprint 400m,Run 5K
0,1,86,Justin Bergh,Container CrossFit,Northern California,34,77.0,231.0,335.0,265.0,210.0,415.0,393.0,32.0,3:46,2:54,8:16,21:27,1:04,22:05
1,2,88,Cary Hair,CrossFit Santa Cruz,Northern California,32,72.0,191.0,455.0,315.0,265.0,518.0,407.0,54.0,2:20,1:49,7:28,18:23,0:54,21:34
2,3,92,Tim Chan,CrossFit DCS,Southern California,47,66.0,150.0,NaN,NaN,NaN,NaN,NaN,NaN,4:22,0,0,0,0,0
3,4,93,Leif Edmundson,CrossFit Santa Cruz,Northern California,34,72.0,210.0,305.0,235.0,185.0,355.0,403.0,45.0,3:40,2:34,8:13,25:00:00,1:02,20:39
4,5,1616,Russ Greene,CrossFit DC,Mid Atlantic,30,70.0,180.0,NaN,NaN,NaN,485.0,NaN,52.0,3:05,0,0,0,0,19:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186168,186169,851333,Neil MacDonald,CrossFit Onside,Canada East,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0
186169,186170,851464,Abraham Ruiz,CrossFit Maui,Northern California,28,72.0,265.0,NaN,NaN,NaN,425.0,NaN,NaN,0,0,0,0,0,0
186170,186171,851484,Steven Kindley,NaN,Mid Atlantic,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0
186171,186172,851555,Frankie Martinez,MW CrossFit,North East,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0
186172,186173,851805,Josh Taekman,NaN,North East,47,6.0,195.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0

In [34]:
# Get columns for dataframe

male_data.columns

Index(['Index', 'Unnamed: 1', 'Name', 'Affiliate', 'Region', 'Age', 'Height',
       'Weight', 'Back Squat', 'Clean & Jerk', 'Snatch', 'Deadlift',
       'Fight Gone Bad', 'Max Pull-ups', 'Fran', 'Grace', 'Helen', 'Filthy 50',
       'Sprint 400m', 'Run 5K'],
      dtype='object')

In [35]:
#Let's delete the index column unnamed:1 column, fran, grace, helen, Filthy 50, Spring 400m, Run 5K, times. 
#These were irrelevant or interfered with df.replace().

#male_data.drop(labels = ['Index','Unnamed: 1','Fran','Grace','Helen','Filthy 50','Sprint 400m', 'Run 5K'], axis = 1, inplace = True)
male_data.drop(labels = ['Index','Unnamed: 1'], axis = 1, inplace = True)

In [36]:
male_data

,Name,Affiliate,Region,Age,Height,Weight,Back Squat,Clean & Jerk,Snatch,Deadlift,Fight Gone Bad,Max Pull-ups,Fran,Grace,Helen,Filthy 50,Sprint 400m,Run 5K
0,Justin Bergh,Container CrossFit,Northern California,34,77.0,231.0,335.0,265.0,210.0,415.0,393.0,32.0,3:46,2:54,8:16,21:27,1:04,22:05
1,Cary Hair,CrossFit Santa Cruz,Northern California,32,72.0,191.0,455.0,315.0,265.0,518.0,407.0,54.0,2:20,1:49,7:28,18:23,0:54,21:34
2,Tim Chan,CrossFit DCS,Southern California,47,66.0,150.0,NaN,NaN,NaN,NaN,NaN,NaN,4:22,0,0,0,0,0
3,Leif Edmundson,CrossFit Santa Cruz,Northern California,34,72.0,210.0,305.0,235.0,185.0,355.0,403.0,45.0,3:40,2:34,8:13,25:00:00,1:02,20:39
4,Russ Greene,CrossFit DC,Mid Atlantic,30,70.0,180.0,NaN,NaN,NaN,485.0,NaN,52.0,3:05,0,0,0,0,19:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186168,Neil MacDonald,CrossFit Onside,Canada East,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0
186169,Abraham Ruiz,CrossFit Maui,Northern California,28,72.0,265.0,NaN,NaN,NaN,425.0,NaN,NaN,0,0,0,0,0,0
186170,Steven Kindley,NaN,Mid Atlantic,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0
186171,Frankie Martinez,MW CrossFit,North East,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0
186172,Josh Taekman,NaN,North East,47,6.0,195.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0

### Game plan for reducing this dataset

We only want data for rows that have a certain number of NaNs that are not exceeded TODO RIGHT HERE!